*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

/* MIX */

.flex{
  display: flex;
  justify-content: center;
}

/* ELEMENTS */

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

label{
  color: white;
  margin: 0px 3px;
}

select{
  width:200px;
  margin: 8px;
  cursor: pointer;
}

select:focus{
  outline: none;
}

.album{
  width: calc(100% / 5 - 40px);
  height: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #2E3A46;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cover-box,
.title-box,
.author-box,
.year-box{
  width: 100%;
}

.title-box{
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

.cover-box{
  width: 100%;
  display: flex;
  justify-content: center;
}

.cover-box > img{
  height: 180px;
  width: 100%;
  display: block;
  cursor: pointer;
}

/* TYPO */

h2{
  color: white;
  font-size: 20px;
  cursor: pointer;
}

h3{
  color: lightgrey;
  font-style: italic;
  cursor: pointer;
}

/* STRUCTURE */

header{
  height: 10vh;
  background-color: #2E3A46;
  display:flex;
  justify-content: space-between;
}

main{
  height: 90vh;
  background-color: #1E2D3B;
  padding: 60px;
  overflow-y: auto;
}

/* Header */

.logo{
  height: 100%;
  margin: 0px 10px;
  display: flex;
  align-items: center;
}

.logo > img{
  height: 80%;
  cursor: pointer;
}

.g-selection{
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

/* Main */
